body {
    background-color: goldenrod;
}

.container {
    width: 30%;
    background-color: white;
    /* border-style: solid; */
    height: 300px;
    margin-left: 30%;
    margin-top: 15%;
    
}
input {
    
}

.input1 {

    width: 220px;
    margin-left: 20%;
    margin-top: 20%;
    height: 25px;
    /* border-color: lightseagreen; */
}

.input2 {

    width: 220px;
    margin-left: 20%;
    margin-top: 5%;
    height: 25px;
}

.input3 {
    width: 230px;
    height: 35px;
    margin-left: 20%;
    margin-top: 5%;
    background-color: limegreen;
    color: white;
    outline: none;
    
}


.bottom {
    margin-left: 20%;
}

/* .bottom1 {
    margin-left: 40%;
} */