body{
    background-color: deepskyblue;
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;  
}


.option2 {
    background-color: darkslategrey;
    height: 300px;
    text-align: center;
    padding-top: 40px;
    width: 33.3%;
    float: right;
    
}


.option3 {
    background-color:chocolate;
    height: 300px;
    text-align: center;
    padding-top: 40px;
    width: 33.3%;
    float: left;

    
}

.option4 {
    background-color:lightgrey ;
    height: 300px;
    text-align: center;
    padding-top: 40px;
    width: 33.3%;
    margin: 0 auto;
    
    
}


.button2 {
    height: 35px;
    width: 90px;
    background-color: transparent;
    border-radius: 30px;
    outline: transparent;
    color: whitesmoke;
    margin-top: 60px;
    border-color: white;
    cursor: pointer;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 70%;
    border-radius: 30px;
}